rec
/venv

# === 通用忽略規則 ===
# 忽略模型檔案
*.keras

# 忽略 Blender 專案檔
*.blend

# 忽略壓縮檔
*.zip

# 忽略 Excel 檔
*.xlsx

*.png

# 忽略特定檔案與資料夾
AI學習成果v2 (1).xlsx
blend_words/
hand-gesture-recognition-mediapipe/
hand_tracker_0428.py
hdri.png
make_csv.py
mediapipe/
rendered_frames_bank/
speech_recognition.py
test.py
track0616.py
two_hands動畫.blend
訓練圖1.png
模型.blend
模型.zip

__pycache__/
*.pyc
.DS_Store

